#Note the directories have to end with a '/'
LOCAL_BASE="$HOME/Projects/" 
REMOTE_BASE="~/Projects/"
DATA_DIR="data"

#ssh details
#the scripts expects an existing keypair for the remote acces
USER="snagel"
HOST="z1.zib.de" #without the `@`
SSH_PORT=22  # Change if not using the default SSH port

#To exclude files/patterns/directories form upload
#create a .exclude_up file
